@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
body {
  background-image: url("../img/boot.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

h1 {
  font: 600 1.5em/1 'Raleway', sans-serif;
  color: rgba(0, 0, 0, .5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5em;
  position: absolute;
  top: 5%;
  width: 100%;
}

span, span:after {
  font-weight: 900;
  color: #efedce;
  /*#365b3a*/
  white-space: nowrap;
  display: inline-block;
  position: relative;
  letter-spacing: .1em;
  padding: .2em 0 .25em 0;
}

span {
  font-size: 4em;
  z-index: 100;
  text-shadow: .04em .04em 0 #9cb8b3;
}

span:after {
  content: attr(data-shadow-text);
  color: rgba(0, 0, 0, .35);
  text-shadow: none;
  position: absolute;
  left: .0875em;
  top: .0875em;
  z-index: -1;
  -webkit-mask-image: url(https://f.cl.ly/items/1t1C0W3y040g1J172r3h/mask.png);
}

a.animated-button:link:after, a.animated-button:visited:after {
  content: "";
  position: absolute;
  height: 0%;
  left: 50%;
  top: 50%;
  width: 150%;
  z-index: -1;
  -webkit-transition: all 0.75s ease 0s;
  -moz-transition: all 0.75s ease 0s;
  -o-transition: all 0.75s ease 0s;
  transition: all 0.75s ease 0s;
}

a.animated-button:link:hover, a.animated-button:visited:hover {
  color: #00f2ff;
  text-shadow: none;
}

a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
  height: 450%;
}

a.animated-button:link, a.animated-button:visited {
  position: relative;
  display: block;
  margin: 120% auto 0;
  padding: 14px 15px;
  color: #00ff37;
  font-size: 14px;
  border-radius: 0;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: .08em;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

a.animated-button.victoria-one {
  border: 3px solid #ff0061;
}

a.animated-button.victoria-one:after {
  background: #ff0061;
  -moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  transform: translateX(-50%) translateY(-50%) rotate(-25deg);
}
